<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Blogbook</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar" ng-controller="AuthenticationController" id="divNav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Blogbook</a>
            </div>
            <div class="nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li><a  data-ng-href="#/articles">Articulos</a></li>
                    <li><a  data-ng-href="#/blogs">Blogs</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" data-ng-show="authentication">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Follow<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/blogs/follow">Blogs</a></li>
                            <li><a href="#/articles/follow">Articulos</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" data-ng-show="authentication">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span>Mi Blog</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a data-ng-href="#/blogs/{{userBlogId}}" ng-click="GetUserBlogId()">Entrar</a>
                            </li>
                            <li>
                                <a href="#/articles/create">Nuevo Articulo</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a data-ng-href="#/blogs/edit/{{userBlogId}}" ng-click="GetUserBlogId()">Editar</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span>Usuario</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">

                          
                            <li>
                                <a href="#" ng-click="logout()" >Salir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Login and Register -->
                <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication" >      
                    <li class="dropdown" id="registerDrop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Registrarse</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br/>
                                        <form data-ng-submit="registerUser()" class="signin form-horizontal col-xs-12" autocomplete="off">
                                            <fieldset>
                                                <div class="form-group col-xs-12">
                                                    <label for="userRegistrationName">Usuario</label>
                                                    <input type="text" id="userRegistrationName" name="userRegistrationName" class="form-control" data-ng-model="userRegistrationName" placeholder="Usuario">
                                                </div>
                                                <div class="form-group col-xs-12">
                                                    <label for="userRegistrationPassword">Contraseña</label>
                                                    <input type="password" id="userRegistrationPassword" name="userRegistrationPassword" class="form-control" data-ng-model="userRegistrationPassword" placeholder="Contraseña">
                                                </div>
                                                <div class="form-group col-xs-12">
                                                    <label for="userRegistrationConfirmPassword">Contraseña</label>
                                                    <input type="password" id="userRegistrationConfirmPassword" name="userRegistrationConfirmPassword" class="form-control" data-ng-model="userRegistrationConfirmPassword" placeholder="Repetir Contraseña">
                                                </div>
                                                <div data-ng-show="errorRegister" class="text-center text-danger">
                                                    <strong data-ng-bind="errorRegister"></strong>
                                                </div>
                                                <div class="text-center form-group">
                                                    <button type="submit" class="btn btn-primary">Registrarse</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" id="loginDrop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                        <form data-ng-submit="login()" class="signin col-xs-12" autocomplete="off">
                                            <fieldset>
                                                <div class="form-group col-xs-12">
                                                    <label for="userLoginName">Usuario</label>
                                                    <input type="text" id="userLoginName" name="userLoginName" class="form-control" data-ng-model="userLoginName" placeholder="Usuario">
                                                </div>
                                                <div class="form-group col-xs-12">
                                                    <label for="userLoginPassword">Contraseña</label>
                                                    <input type="password" id="userLoginPassword" name="userLoginPassword" class="form-control" data-ng-model="userLoginPassword" placeholder="Contraseña">
                                                </div>
                                                <div data-ng-show="errorLogin" class="text-center text-danger">
                                                    <strong data-ng-bind="errorLogin"></strong>
                                                </div>
                                                <div class="text-center form-group ">
                                                    <button type="submit" class="btn btn-primary">Entrar</button>
                                                </div>
                                               
                                            </fieldset>
                                        </form>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Aldunate app</p>
        </div>
    </footer>
 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularApp")
    @RenderSection("scripts", required: false)
</body>
</html>
